
/*
CSS 语法
*/

body{
    background-color:lightgray ;
}
.top_menu{
    margin: 50px;
    color: #333;

}
.top_menu a{
    text-decoration: none;
    font-family: "Georgia";
}
.top_menu:hover{
    background-color: lightskyblue;
}
p{
    color: #333;
    font-size: 20px; 
    /*font-style: italic;*/
    font-family: "Georgia"
}

h1{
    color: #333; 
    font-size: 40px; 
    font-family: "Georgia"  
}

h2{
    color: #333;
    font-size: 20px; 
    font-family: "Georgia"  
}

ul{
    list-style: none;
}
li{
    color: #333; 
    font-size: 17px;
    font-family: "Georgia"  
}

/* id 选择器 */
#slogan{
    color: rgb(185, 14, 14); 
    font-size: 30px; 
    font-style: italic

}

.text{
    padding-left: 100px;
    padding-right: 100px;
}

.pic{

    margin-left: 400;
    padding-left: 400px;

}


#menu_box{
    margin-left: 800px;
}


/* class 可以给多个标签，重复使用, 也可以为一个指定多个class
.text{

}
*/